rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn(playerId) {
      return request.auth != null && request.auth.uid == playerId;
    }

    match /general/general {
      allow read;
    }

    match /players/{playerId} {
      allow read;
      allow write: if isSignedIn(playerId);
    }

    match /queueEntries/{playerId} {
      allow read: if isSignedIn(playerId);
    }
  }
}